
html {
	height: 100%;
	position: relative;
}

body {
	margin: 0;
	background-color: #e0e0e0;
	/*height: 100%;*/
	height: 100%;
}

.cls_header {
	background-color: #204060;
	min-height: 55.95px;
}

.cls_center {
	max-width: calc(800px - (30px));
	margin: auto;
}/**/

.cls_center:after, { 
	content: ""; 
	display: table; 
	clear: both; 
}

.cls_header div {
	position: relative;
}

.cls_inlineb {
	display: inline-block;
	vertical-align: middle;
}

.cls_flex {
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
	display: flex;
	justify-content: space-around;
}

.cls_header ul {
	margin-right: 10px;
}

.cls_header li {
	margin-left: 10px;
}

.cls_header a {
	color: white;
	text-decoration: none;
	font-family: 'Merriweather', serif;
}

.cls_center nav {
	position: absolute;
	right: 0;
}

.cls_center img {
	margin: 6px;
}

.cls_title {
	font-size: 30px;
}

.cls_footer {
	/*position: fixed;
	bottom: 0;/**/
	width: 100%;
	padding-bottom: 20px;
	font-family: 'Merriweather', serif;
	font-size: 12px;
	color: #808080;
	border-top: 1px solid #d9d9d9;
}

.cls_description {
	max-width: 400px;
}

.cls_imgsm {
	width: 15px;
	height: 15px;
}

.cls_content {
	margin-top: 40px;
	font-family: 'Merriweather', serif;
	height: auto;
}

.cls_content img {
	max-width: calc(800px - (30px));
}

.cls_content code, .cls_content pre {
	font-size: 15px; 
	border: 1px solid #c0c0e0; 
	border-radius: 3px; 
	background-color: #c0c0e0;
	color: #202020;
}

.cls_pinfo {
	display: block;
	font-size: 15px;
	margin: 5px 0 5px 0;
	color: #959595;	
	font-family: 'Amatic SC', cursive;
}

.cls_pdes {
	font-size: 13px;
	color: #A4A4A4;
}

.cls_ptitle {
	font-size: 20px;
}

.cls_down {
	position: absolute;
	bottom: 0;
}

.cls_divfooter {
	/*min-height: 100%;
	display: -webkit-flex;
    -webkit-justify-content: space-around; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;/**/
}
