
html {
	height: 100%;
	position: relative;
}

body {
	margin: 0;
	background-color: #EFEFFB;
	height: 100%;
}

.center {
	max-width: calc(800px - (30px));
	margin: auto;
}

.header {
	background-color: #0B4C5F;
	color: white;
}

.header a {
	text-decoration: none;
	color: white;
	font-family: 'Special Elite', cursive;
}

.font-elite {
	padding-top: 7px;
}

.center-header {
	max-width: 800px;
	margin: auto;
}

.center-header *, .img-footer {
	display: inline-block;
	vertical-align: middle;
}

.title-header {
	font-size: 30px;
}

.nav-header li {
	padding-left: 15px;
}

.nav-header {
	margin-left: 240px;
}

.post-box {
	background-color: white;
	padding: 15px;
	border-radius: 3px;
}

.post-list {
	padding-left: 10px;
}

.post-box-view * {
	display: block;
}

.title-box {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
}

.meta-box {
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #848484;
}

.text-box {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-align: justify;
}

.button-box {
	background-color: #0B4C5F;
	font-family: 'Roboto', sans-serif;
	padding-top: 3px;
	font-size: 13px;
	text-decoration: none;
	border-radius: 3px;
	margin-top: 7px;
	color: white;
	text-align: center;
	width: 100px;
	height: 20px;
}

.post {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-align: justify;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
	font-family: 'Open Sans', sans-serif;
}

.post h1 {
	font-size: 1.7em;
	font-weight: bold;
}

.post img {
	max-width: calc(800px - (30px));
}

.post code, .post pre {
	font-size: 15px; 
	border: 1px solid #E0E0F8; 
	border-radius: 3px; 
	background-color: #E0E0F8;
	color: #202020;
}

.footer {
	border-top: 1px solid #d9d9d9;
	padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	font-size: 12px;
	color: #808080;
	width: 100%;
}

.footer img {
	margin: 6px;
}

.flex {
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
	display: flex;
	justify-content: space-around;
}

.des-footer {
	max-width: 400px;
}

.img-footer {
	width: 15px;
	height: 15px;
}

.down-footer {
	position: absolute;
	bottom: 0;
}

