<footer class="footer">
	<br>
	<div class="center flex">
		<div class="">
			{{ site.title }}
			<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
		</div>
		<div class="">
			{% if site.github_username %}
			<div>
				<img src="{{ site.github.url }}/image/sm-github.png" class="img-footer">
				<a href="https://github.com/{{ site.github_username }}" target="_blank">{{ site.github_username }}</a>
			</div>
			{% endif %}
			{% if site.twitter_username %}
			<div>
				<img src="{{ site.github.url }}/image/sm-twitter.png" class="img-footer">
				<a href="https://twitter.com/{{ site.github_username }}" target="_blank">{{ site.twitter_username }}</a>
			</div>
			{% endif %}
		</div>
		<div class="des-footer">
			{{ site.description }}
		</div>
	</div>
</footer>
<script>
	(function () {
		var header = document.getElementsByTagName("header")[0];
		var footer = document.getElementsByTagName("footer")[0];
		var contenido = document.getElementById("contenido");
		var pantalla = window.innerHeight;
		var foo = pantalla - (header.clientHeight + footer.clientHeight +1);
		contenido.style.minHeight = foo + 'px';
	}) ();
</script>