<footer class="footer">
	<br>
	<div class="center flex">
		<div class="">
			{{ site.title }}
			<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
		</div>
		<div class="">
			{% if site.github_username %}
			<div>
				<img src="{{ site.github.url }}/image/sm-github.png" class="img-footer">
				<a href="https://github.com/{{ site.github_username }}" target="_blank">{{ site.github_username }}</a>
			</div>
			{% endif %}
			{% if site.twitter_username %}
			<div>
				<img src="{{ site.github.url }}/image/sm-twitter.png" class="img-footer">
				<a href="https://twitter.com/{{ site.github_username }}" target="_blank">{{ site.twitter_username }}</a>
			</div>
			{% endif %}
		</div>
		<div class="des-footer">
			{{ site.description }}
		</div>
	</div>
</footer>
<script>
	(function () {
		var footer = document.getElementsByTagName("footer")[0];
		var altNav = window.screen.availHeight;
		var altDoc = document.getElementById("contenido").clientHeight;
		altDoc += (document.getElementsByTagName("header")[0].clientHeight + footer.clientHeight);
		if (altNav > altDoc) {
			footer.classList.add("down-footer");
		}
	}) ();
</script>