<header class="header">
	<div class="center-header">
		<a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/image/faro-icono.png" class="" width="42" height="42"></a>
		<a href="{{ site.github.url }}/" class="font-elite title-header">{{ site.title }}</a>
		<nav class="nav-header">
			<ul class="">
				<li class=""><a href="{{ site.github.url }}/historial/" class="font-elite">Historial</a></li>
				<li class=""><a href="{{ site.github.url }}/sobre-mi/" class="font-elite">Sobre mi</a></li>
			</ul>
		</nav>
	</div>
</header>